@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root{
    --white: rgb(240,240,240);
    --yellow: rgb(255, 255, 32);
}

body{
    text-align: center;
    margin: 0 0 0 0;
    color: var(--white);
    font-family: 'Ubuntu', sans-serif;
}

navbar {
    position:fixed;
    display: flex;
    flex-direction:row;
    width:100%;
    height:4.3rem;
    z-index:2;
    background-color: rgb(155, 50, 55);
    justify-content: space-between;
    align-items: center;
    /* border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1.5px; */
    box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.5), 0px 2px 6px 1px rgba(0,0,0,0.7);
    

}

navbar > div {
    padding-left:2rem;

}
    
ul {
    list-style-type: none;
    padding-left:0;
}

li {
    display: inline;
    margin: 2rem;
}

a {
    text-decoration:none;
    color: var(--white);
    
}

@media (max-width:800px)
{
    navbar {
        position:fixed;
        display: flex;
        flex-direction:column;
        width:100%;
        height:auto;
        z-index:2;
        background-color: rgb(155, 50, 55);
        justify-content: flex-start;
        align-items: center;
        /* border-bottom-color: black;
        border-bottom-style: solid;
        border-bottom-width: 1.5px; */
        box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.5), 0px 2px 6px 1px rgba(0,0,0,0.7);
        
    
    }
}


section {
    margin-top:0;
    margin-bottom: 0;
    padding-top:5rem;
}

#welcome-section{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
    /* background-color: rgb(50, 37, 63); */
    background: linear-gradient(180deg,  rgb(100, 53, 67),rgb(29, 14, 37) );
    /* background: linear-gradient(45deg,  hsl(300, 100%, 5%),hsl(300, 100%, 15%) ); */
    min-height: 100vh;
    margin:auto;
}

#welcome-section h1{
    font-size: 5rem;
    font-family: 'Varela Round', sans-serif;
}
h2{
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: 200;
    /* text-decoration: underline; */
    /* flex-grow:1; */
    /* background-color: darkgreen; */
}
h3{
    font-size: 1.7rem;
    font-family: 'Rajdhani', sans-serif;
    margin-top:-2rem;
}
#welcome-section>div {
    margin-top:10vh;
}


#welcome-section h1:hover {
    animation-name: h1-hover;
    animation-duration: 1s;
    /* animation-iteration-count: 1; */
    text-decoration: underline;
    color:var(--yellow);
    transform: scale(1.05);
    cursor:pointer;
}
#welcome-section h3:hover {
    animation-name: h1-hover;
    animation-duration: 0.5s;
    /* animation-iteration-count: 1; */
    text-decoration: underline;
    color:var(--yellow);
    transform: scale(1.05);
    cursor:pointer;
}
#welcome-section h2:hover {
    cursor:pointer;
}
@keyframes h1-hover {
    0% {
        color:var(--white);
        text-decoration:none;
        transform: scale(1);
    }
    
    100% {
        color:var(--yellow);
        text-decoration: underline;
        transform: scale(1.05);

    }
}

#projects {
    min-height:100vh;
    background:linear-gradient(0deg,rgb(145, 106, 39), #76528BFF );
    /* background:linear-gradient(135deg,hsl(300, 100%, 5%), hsl(30, 50%, 30%) ); */
    /* hsl(30, 30%, 40%) hsl(30, 50%, 40%) */
}

.project-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap:10rem;
    /* background-color: cadetblue; */
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

img {
    max-width:25rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.19), 0px 6px 6px 1px rgba(0,0,0,0.23);
}
img:hover {
    animation-name: img-hover;
    animation-duration: 0.6s;
    transform: scale(1.05);
    box-shadow: 0px 20px 40px 4px rgba(0,0,0,0.19), 0px 12x 12px 2px rgba(0,0,0,0.23);
}
@keyframes img-hover {
    0% {
        transform: scale(1);
        box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.19), 0px 6px 6px 1px rgba(0,0,0,0.23);
    }
    
    100% {
        transform: scale(1.05);
        box-shadow: 0px 20px 40px 4px rgba(0,0,0,0.19), 0px 12x 12px 2px rgba(0,0,0,0.23);
    }
}

figcaption {
    font-weight: 700;
}


#contacts {
    background: linear-gradient(0deg, #101820FF,rgb(105, 80, 46),rgb(180, 141, 57) );
    /* background: linear-gradient(315deg, hsl(30, 50%, 30%),hsl(300, 100%, 15%) ); */
    /* background-color: hsl(192, 90%, 35%); */
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

#contacts h2 {
    margin-bottom:5rem;
    /* font-size: 2rem; */
}

#work-title {
    margin-top: 2rem;
}
.logos-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    margin: 2rem;
    margin-top: auto;
    font-size: 3.5rem
    /* padding: 2rem auto 2rem auto; */

}

.git-logo:hover
{
    color:rgb(32, 23, 23);
    background-color: white;
    border-style: solid;
    border-width:5px;
    border-radius: 2rem;
    border-color: white;
    border-top: none;
    border-bottom: none;
}

.fb-logo:hover {
    color:rgb(79, 79, 184);
    background-color: white;
    border-style: solid;
    border-width:5px;
    border-radius: 1.5rem;
    border-color: white;
    border-top: none;
    border-bottom: none;
}

.insta-logo:hover {
    color: rgb(255, 36, 208);
    background-color: white;
    border-style: solid;
    border-width:5px;
    border-radius: 2rem;
    border-color: white;
    border-top: none;
    border-bottom: none;
}

.linkedin-logo:hover {
    color: rgb(24, 24, 128);
    background-color: white;
    border-style: solid;
    border-width:5px;
    border-radius: 2rem;
    border-color: white;
    border-top: none;
    border-bottom: none;
}

input {
    /* display: block; */
    padding: 0.375rem 0.75rem;
    width:15rem;
    height: 2.5rem;
    border-radius: 5px;
    border-color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    margin-right: 10px;
    /* background-clip:padding-box; */
}

#number:focus {
    border-color: blue;
    border-width: 4px;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    background-color: rgb(87, 87, 255);
    color:cornsilk;
    
}
#submit:hover {
    border-color: blue;
    border-width: 2px;
    outline: 0;
    background: transparent;
    color:cornsilk;
    
}

#submit {
    border-radius:2.5rem;
    width:7rem;
}

.input {
    text-align: center;
} 



